



{% if user.is_authenticated %}

Logged In as {{ user.username }}



<form action="{% url 'logoutuser' %}" method="POST">

    {% csrf_token %}    
    <button type="submit" >Logout</button>
</form>
<a href="{% url 'createtodo' %}">vytvoř upominku</a>
<a href="{% url 'showposts' %}">zobrazit vsechny</a>
<a href="{% url 'profile' %}">Profil</a>

{% else %}


<a href="{% url 'home' %}">home</a>
<a href="{% url 'signupuser' %}">SignUp</a>
<a href="{% url 'loginuser' %}">Login</a>


{% endif %}

{% block content %}




{% endblock %}