{% extends 'ToDoApp/base.html' %}

{% block content %}

{% for message in messages %}
     {% if 'nickname' in message.tags %}
          <p> {{message}} </p> 
     {% endif %}

     {% if 'registration_sucess' in message.tags %}
     <p> {{message}} </p> 

     {% endif %}

{% endfor %}

<form action="" method="POST">

     <h1>Login</h1>
    {% csrf_token %}
    <br>
    {{ form.username.label_tag }}
    {{ form.username }}
    <br>
    {{ form.password1.label_tag }}
    {{ form.password1 }} 
    <br>
        
    <button type="submit" >Login</button>
</form>

<a href="{% url 'password_reset' %}">Reset Password</a>
<a href="/password_reset">Forgot password?</a>

{% endblock %}