{% extends 'ToDoApp/base.html' %}


{% block content %}

    <h1>Shows posts</h1>

{% for message in messages %}
    {% if 'noposts' in message.tags %}
         <p> {{message}} </p> 
    {% endif %}
{% endfor %}

<form action="" method=POST>
    {% csrf_token %}


     
    {% for post in mydata %}
    <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.memo }}</td>
        <td>{{ post.created }}</td>
        <br>
        <td>
            
            {% if post.approved %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="checked" value={{post.id}} name="boxes">
            </div>
            {% else %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value={{post.id}} name="boxes">
            </div>


            {% endif %}

        </td>
        <br>
    </tr>
{% endfor %}





     {% if not mydata %}
     <button  type="submit" disabled>Delete</button> 


     {% else %}
     <button  type="submit">Delete</button> 

     {% endif %}




{% endblock %}


 